<ControlContainer 
    @control={{@control}} 
    @showLabel={{ true }}
>
    <div 
        {{ if @control.value "enabled" "disabled"}} 
        {{ if @control.readOnly "readOnly" "" }}"  
        class="main-input 
        {{ style this.customizeStyles }}
        {{on "touchstart" this.update}} 
        {{on "mousedown" this.update}}  
    >
        <div class="checkbox" {{ style this.sizeStyles }} ></div>
    </div>
    {{yield}}
</ControlContainer>