<ControlContainer 
    @control={{@control}} 
    @displayLayout={{@displayLayout}}
    @showLabel={{ true }}
>
    <div class="main-input {{ if @control.value "enabled" "disabled"}}"  {{on "touchstart" this.update}} {{on "mousedown" this.update}}  >
        <div class="checkbox" {{ style this.sizeStyles }} ></div>
    </div>
    {{yield}}
</ControlContainer>