<div class="canvas unselectable {{ if this.editing "active" "" }} {{ if this.args.readOnly "disabled" "" }}" 
    {{ style this.containerStyles }}
    {{on "mousedown" (fn this.updateEditing true)}}
    {{on "touchstart" (fn this.updateEditing true)}}
    {{on "mouseup" (fn this.updateEditing false)}}
    {{on "touchend" (fn this.updateEditing false)}}
    {{on "dblclick" this.showPopover}}
    {{did-insert this.registerListener}}
    {{will-destroy this.unregisterListener}}
>
    <div class="point" {{ style this.pointStyles }}></div>
    <div class="crosshair x" {{ style this.crosshairXStyles }}></div>
    <div class="crosshair y" {{ style this.crosshairYStyles }}></div>
    {{#if this.args.showLabel }}
        <label>{{ this.args.label }}</label>
    {{/if}}
    <div class="value-x">{{ this.roundedX }}</div>
    <div class="value-y">
        <div class="rotate90">{{ this.roundedY }}</div>
    </div>

    {{#if this.popoverVisible}}
        <div class="canvas-popover">
            <div class="axis">
                <span class="axis-label">X: </span>
                <Input 
                    inputmode="decimal"
                    value={{ this.roundedX2 }} 
                    disabled={{this.args.readOnly}}
                    {{ autofocus }}
                    {{ on "click" this.clickPopover}}
                    {{ on "change" this.setValue }} 
                />
            </div>
            <div class="axis">
                <span class="axis-label">Y: </span>
                <Input 
                    inputmode="decimal"
                    value={{ this.roundedY2 }} 
                    disabled={{this.args.readOnly}}
                    {{ on "click" this.clickPopover}}
                    {{ on "change" this.setValue2 }} 
                />
            </div>
        </div>
    {{/if}}

    {{yield}}
</div>
