<ControlContainer 
    @control={{@control}} 
    @displayLayout={{@displayLayout}}
    @showLabel={{ true }}
    @extraClass="no-bottom-padding"
>
    <div class="secondary-container">
        <Input value={{ this.roundedRed }} {{on "change" (fn this.input "red") }} {{on "change" this.update }} class="secondary" />
        <Input value={{ this.roundedGreen }} {{on "change" (fn this.input "green") }} {{on "change" this.update }} class="secondary" />
        <Input value={{ this.roundedBlue }} {{on "change" (fn this.input "blue") }} {{on "change" this.update }} class="secondary" />
        <Input value={{ this.roundedAlpha }} {{on "change" (fn this.input "alpha") }} {{on "change" this.update }} class="secondary" />
    </div>
    
    <div class="clear"></div>

    <div class="main-input">
        <Input value={{ @control.hex }} {{on "input" this.input }} {{on "input" this.update}} type="color" />
    </div>
    
    {{yield}}
</ControlContainer>