<div class="control {{ @extraClass }} {{ @control.modelName }} {{ if @control.hasRange "" "no-range"}} {{ if @useWidthSplit "width-split" "" }}" {{ style this.positionStyles }}>
    {{#if this.showLabel }}
        <label for={{@control.id}} class="control-label unselectable">
            {{@control.label}}
        </label>
    {{/if}}

    {{yield}}
</div>