<div class="dashboard {{ if this.settings.displayLayout "layout" "responsive" }}" {{ style this.sizeStyle }} {{ style this.customizeStyles }}>
    {{#if @dashboard.bgImage }}
        <div class="dashboard-background unselectable" {{ style this.backgroundStyle }}>
            <img src="{{ @dashboard.bgSrc }}" alt="" />
        </div>
    {{/if}}
    
    {{#each @dashboard.sortedControls as |control|}}
        {{#let (component control.constructor.modelName) as |TheComponent|}}
            <TheComponent 
                @control={{control}} 
            />
        {{/let}}
    {{/each}}

    {{yield}}
</div>