<ControlContainer 
    @control={{@control}} 
    @showLabel={{ true }}
>
    <div class="clear"></div>
    <div class="main-input">
        <select 
            {{on "change" this.update}} 
            {{ style this.customizeStyles }}
        >
            {{#each @control.options as |optionValue| }}
                <option value={{optionValue}} selected={{ eq @control.value optionValue }}>{{optionValue}}</option>
            {{/each}}
        </select>
    </div>
    {{yield}}
</ControlContainer>