<ControlContainer 
    @control={{@control}} 
    @showLabel={{ true }}
>
    
    <div class="secondary-container">
        {{#if this.isTime }}
            <Input 
                value={{ this.time }} 
                class="secondary time"
                {{on "change" (fn this.input "time") }} 
                {{on "change" this.update}} 
            />
        {{else}}
            <Input 
                value={{ this.roundedValue }} 
                class="secondary" 
                {{ on "change" this.input }} 
                {{ on "change" this.update }} 
            />
        {{/if}}
    </div>
    
    <div class="main-input">
        {{#if @control.hasRange}}
            <RangeSlider 
                @name={{ @control.id }}
                @value={{ @control.value }}

                @label={{ @control.label }}
                
                @min={{ @control.minVal }}
                @max={{ @control.maxVal }}
                
                @step={{ this.step }} 

                @fgColor={{ this.fgColorRgba }}
                @bgColor={{ this.bgColorRgba }}
                @textColor={{ this.args.control.textColorRgba }}
                @mixBlendMode={{ this.args.control.mixBlendMode }}
                
                @onInput={{ this.input }} 
                @onUpdate={{ this.update }} 
            />
        {{else}}
            {{#if this.isTime }}
                <Input 
                    value={{ this.time }} 
                    class="secondary time"
                    {{on "change" (fn this.input "time") }} 
                    {{on "change" this.update}} 
                    {{ style this.customizeStyles }}
                />
            {{else}}
                <Input 
                    value={{ this.roundedValue }} 
                    class="secondary" 
                    {{ on "change" this.input }} 
                    {{ on "change" this.update }} 
                    {{ style this.customizeStyles }}
                />
            {{/if}}
        {{/if}}
    </div>

    
    {{yield}}
</ControlContainer>