<ControlContainer @control={{@control}}>
    <div class="secondary-container">
        {{#if this.isTime }}
            <Input 
                value={{ this.time }} 
                class="secondary time"
                {{on "change" (fn this.input "time") }} 
                {{on "change" this.update}} 
            />
        {{else}}
            <Input 
                value={{ this.roundedValue }} 
                class="secondary" 
                {{ on "change" this.input }} 
                {{ on "change" this.update }} 
            />
        {{/if}}
    </div>
    
    {{#if @control.hasRange}}
        <RangeSlider 
            @name={{ @control.id }}
            @value={{ @control.value }}

            @min={{ @control.minVal }}
            @max={{ @control.maxVal }}
            
            @step={{ this.step }} 
            
            @onInput={{ this.input }} 
            @onUpdate={{ this.update }} 
        />
    {{/if}}
    
    {{yield}}
</ControlContainer>