<ControlContainer 
    @control={{@control}} 
    @showLabel={{ this.showLabel }}
>
    
    <div class="secondary-container">
        {{#if @control.isTime }}
            <Input 
                value={{ this.time }} 
                disabled={{@control.readOnly}}
                class="secondary time"
                {{on "change" (fn this.input "time") }} 
                {{on "change" this.update}}
            />
        {{else}}
            <Input 
                value={{ this.roundedValue }} 
                disabled={{@control.readOnly}}
                class="secondary" 
                inputmode="decimal"
                {{ on "change" this.input }} 
                {{ on "change" this.update }} 
            />
        {{/if}}
    </div>
    
    <div class="main-input">
        {{#if @control.isColorIndicator}}
            <ColorIndicator 
                @colorValue={{ @control.colorValue }}
                @size={{ @control.smallerSize }}
                @showCircle={{ @control.isColorCircle }}
            >
                <Input 
                    value={{ this.roundedValue }} 
                    disabled={{@control.readOnly}}
                    class="secondary" 
                    inputmode="decimal"
                    {{ on "change" this.input }} 
                    {{ on "change" this.update }} 
                    {{ on "click" this.clickPopover }}
                    {{ autofocus }}
                />
            </ColorIndicator>
        {{else}}
            {{#if @control.hasRange}}
                {{#if @control.isRotarySlider }}
                    <RotarySlider 
                        @name={{ @control.id }}
                        @value={{ @control.value }}
                        @showValue={{ @control.showValue }}

                        @label={{ @control.label }}
                        @showLabel={{ @control.showLabel }}
                        
                        @min={{ @control.minVal }}
                        @max={{ @control.maxVal }}

                        @width={{ @control.width }}
                        @height={{ @control.height }}
                        
                        @fgColor={{ this.fgColorRgba }}
                        @bgColor={{ this.bgColorRgba }}
                        @textColor={{ this.args.control.textColorRgba }}
                        @borderColor={{ this.args.control.borderColorRgba }}
                        @borderWidth={{ this.args.control.borderWidth }}
                        @isVertical={{ this.args.control.isVertical }}
                        
                        @onInput={{ this.setValue }} 
                        @onUpdate={{ this.update }} 
                        @onFinishEditing={{ this.onFinishEditing }}

                        @readOnly={{ @control.readOnly }}
                    />
                {{else}}
                    <RangeSlider 
                        @name={{ @control.id }}
                        @value={{ @control.value }}
                        @showValue={{ @control.showValue }}

                        @label={{ @control.label }}
                        
                        @min={{ @control.minVal }}
                        @max={{ @control.maxVal }}
                        
                        @fgColor={{ this.fgColorRgba }}
                        @bgColor={{ this.bgColorRgba }}
                        @textColor={{ this.args.control.textColorRgba }}
                        @borderColor={{ this.args.control.borderColorRgba }}
                        @borderWidth={{ this.args.control.borderWidth }}
                        @isVertical={{ this.args.control.isVertical }}
                        
                        @onInput={{ this.setValue }} 
                        @onUpdate={{ this.update }} 
                        @onFinishEditing={{ this.onFinishEditing }}

                        @readOnly={{ @control.readOnly }}
                    />
                {{/if}}
            {{else}}
                {{#if this.isTime }}
                    <Input 
                        value={{ this.time }} 
                        disabled={{@control.readOnly}}
                        class="secondary time"
                        {{on "change" (fn this.input "time") }} 
                        {{on "change" this.update}} 
                        {{ style this.customizeStyles }}
                    />
                {{else}}
                    <Input 
                        value={{ this.roundedValue }} 
                        disabled={{@control.readOnly}}
                        class="secondary" 
                        inputmode="decimal"
                        {{ on "change" this.input }} 
                        {{ on "change" this.update }} 
                        {{ style this.customizeStyles }}
                    />
                    {{#if @control.readOnly}}
                    {{else}}                    
                    <button class="increment" 
                        {{ on "click" this.increment}} 
                        disabled={{ @control.readOnly}}
                    >+</button>
                    <button class="decrement" 
                        {{ on "click" this.decrement}}
                        disabled={{ @control.readOnly}}
                    >-</button>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        
    </div>

    
    {{yield}}
</ControlContainer>