<ControlContainer @control={{@control}}>
    <div class="secondary-container">
        <button {{on "click" this.toggleCanvas}}>2D Canvas</button>
        <Input value={{this.roundedValue}} {{on "change" this.input}} {{on "change" this.update}} class="secondary" />
        <Input value={{ this.roundedValue2 }} {{on "change" (fn this.input "2") }} {{ on "change" this.update }} class="secondary" />
    </div>

    {{#if @control.hasRange}}
        <Input name={{ @control.id}} value={{@control.value}} {{on "input" this.input}} {{on "input" this.update}} type="range" min={{@control.minVal}} max={{@control.maxVal}} step={{this.step}} style="--min: {{@control.minVal}}; --max: {{@control.maxVal}}; --val: {{@control.value}};" />
    {{/if}}
    
    {{#if @control.hasRange2}}
        <Input name={{ concat @control.id "2" }} value={{ @control.value2 }} {{ on "input" (fn this.input "2") }} {{ on "input" (fn this.update "2") }} type="range" min={{@control.minVal2}} max={{@control.maxVal2}} step={{this.step}} style="--min: {{@control.minVal2}}; --max: {{@control.maxVal2}}; --val: {{@control.value2}};"  class="no-top-margin" />
    {{/if}}

    {{#if this.showCanvas}}
        <CanvasPoint2d @control={{@control}}></CanvasPoint2d>
    {{/if}}

    {{yield}}
</ControlContainer>