<ControlContainer 
    @control={{@control}} 
    @showLabel={{ this.showLabel }}
    @useWidthSplit={{ this.useWidthSplit }}
>
    <div class="secondary-container">
        {{#if @control.hasAllRanges }}
            {{#unless @control.is2DCanvas}}
                <button {{on "click" this.toggleCanvas}}>2D Canvas</button>
            {{/unless}}
        {{/if}}
        <Input 
            value={{this.roundedValue}} 
            disabled={{@control.readOnly}}
            inputmode="decimal"
            {{on "change" this.input}} 
            {{on "change" this.update}} 
            class="secondary" 
        />
        <Input 
            value={{ this.roundedValue2 }}
            disabled={{@control.readOnly}} 
            inputmode="decimal"
            {{on "change" (fn this.input "2") }} 
            {{ on "change" this.update }} 
            class="secondary" 
        />
    </div>

    <div class="main-input">
        {{#if @control.is2DCanvas}}
            <CanvasPoint2d 
                @value={{ @control.value }}
                @min={{ @control.minVal }}
                @max={{ @control.maxVal }}

                @value2={{ @control.value2 }}
                @min2={{ @control.minVal2 }}
                @max2={{ @control.maxVal2 }}

                @invertX={{ @control.invertX }}
                @invertY={{ @control.invertY }}
                @stretchMode={{ @control.stretchMode }}

                @label={{ @control.label }}
                @width={{ @control.width }}
                @height={{ @control.height }}

                @fgColor={{ this.fgColorRgba }}
                @bgColor={{ this.bgColorRgba }}
                @textColor={{ this.args.control.textColorRgba }}
                @borderWidth={{ this.args.control.borderWidth }}
                @borderEnabled={{ this.args.control.borderColorEnabled }}

                @onInput={{this.setValue}}
                @onInput2={{this.setValue2}}

                @onUpdate={{ this.update }}
                @onFinishEditing={{ this.onFinishEditing }}

                @readOnly={{ @control.readOnly }} 
            />
        {{else}}
            {{#if @control.hasRange}}
                <RangeSlider 
                    @name={{ @control.id }}
                    @value={{ @control.value }}
                    @showValue={{ @control.showValue }}

                    @min={{ @control.minVal }}
                    @max={{ @control.maxVal }}
                    
                    @fgColor={{ this.fgColorRgba }}
                    @bgColor={{ this.bgColorRgba }}
                    @textColor={{ this.args.control.textColorRgba }}
                    
                    @onInput={{ this.setValue }} 
                    @onUpdate={{ this.update }}
                    @onFinishEditing={{ this.onFinishEditing }}

                    @readOnly={{ @control.readOnly }}
                />
            {{else}}
                <Input 
                    value={{ this.roundedValue }} 
                    disabled={{@control.readOnly}}
                    class="secondary" 
                    inputmode="decimal"
                    {{ on "change" this.input }} 
                    {{ on "change" this.update }} 
                    {{ style this.customizeStyles }}
                />
            {{/if}}
            {{#if @control.hasRange2}}
                <RangeSlider 
                    @name={{ concat @control.id "2" }}
                    @value={{ @control.value2 }}
                    @showValue={{ @control.showValue }}

                    @min={{ @control.minVal2 }}
                    @max={{ @control.maxVal2 }}

                    @class="no-top-margin"
                    
                    @fgColor={{ this.fgColorRgba }}
                    @bgColor={{ this.bgColorRgba }}
                    @textColor={{ this.args.control.textColorRgba }}
                    
                    @onInput={{ this.setValue2 }} 
                    @onUpdate={{ fn this.update "2" }} 
                    @onFinishEditing={{ this.onFinishEditing }}

                    @readOnly={{ @control.readOnly }}
                />
            {{else}}
                <Input 
                    value={{ this.roundedValue2 }} 
                    disabled={{@control.readOnly}}
                    class="secondary" 
                    inputmode="decimal"
                    {{ on "change" (fn this.input "2") }} 
                    {{ on "change" (fn this.update "2") }} 
                    {{ style this.customizeStyles }}
                />
            {{/if}}
        
        {{/if}}
    </div>

    {{#if this.showCanvas}}
        <CanvasPoint2d 
            @value={{ @control.value }}
            @min={{ @control.minVal }}
            @max={{ @control.maxVal }}

            @value2={{ @control.value2 }}
            @min2={{ @control.minVal2 }}
            @max2={{ @control.maxVal2 }}

            @label={{ @control.label }}
            @width="300"
            @height="300"
            @marginTop="5"
            @fgColor={{ this.fgColorRgba }}
            @bgColor={{ this.bgColorRgba }}
            @textColor={{ this.args.control.textColorRgba }}

            @onInput={{this.setValue}}
            @onInput2={{this.setValue2}}

            @onUpdate={{ fn this.update }} 
            @onFinishEditing={{ this.onFinishEditing }}
            
            @readOnly={{ @control.readOnly }} 
        />
    {{/if}}

    {{yield}}
</ControlContainer>