<ControlContainer 
    @control={{@control}} 
    @displayLayout={{@displayLayout}}
    @showLabel={{ true }}
>
    <div class="secondary-container">
        <Input value={{this.roundedValue}} {{on "change" this.input}} {{on "change" this.update}} class="secondary" />
        <Input value={{ this.roundedValue2 }} {{on "change" (fn this.input "2") }} {{ on "change" this.update }} class="secondary" />
        <Input value={{ this.roundedValue3 }} {{on "change" (fn this.input "3") }} {{ on "change" this.update }} class="secondary" />
    </div>

    {{#if @control.hasRange}}
        <RangeSlider 
            @name={{ @control.id }}
            @value={{ @control.value }}

            @min={{ @control.minVal }}
            @max={{ @control.maxVal }}
            
            @step={{ this.step }} 
            
            @onInput={{ this.input }} 
            @onUpdate={{ this.update }} 
        />
    {{/if}}

    {{#if @control.hasRange2}}
        <RangeSlider 
            @name={{ concat @control.id "2" }}
            @value={{ @control.value2 }}

            @min={{ @control.minVal2 }}
            @max={{ @control.maxVal2 }}
            
            @step={{ this.step }} 
            @class="no-top-margin"
            
            @onInput={{ fn this.input "2" }} 
            @onUpdate={{ fn this.update "2" }} 
        />
    {{/if}}

    {{#if @control.hasRange3}}
        <RangeSlider 
            @name={{ concat @control.id "3" }}
            @value={{ @control.value3 }}

            @min={{ @control.minVal3 }}
            @max={{ @control.maxVal3 }}
            
            @step={{ this.step }} 
            @class="no-top-margin"
            
            @onInput={{ fn this.input "3" }} 
            @onUpdate={{ fn this.update "3" }} 
        />
    {{/if}}
    
    {{yield}}
</ControlContainer>