<ControlContainer 
    @control={{@control}} 
    @showLabel={{ true }}
    @useWidthSplit={{ this.useWidthSplit }}
>
    <div class="secondary-container">
        <Input 
            value={{this.roundedValue}} 
            disabled={{@control.readOnly}}
            inputmode="decimal"
            {{on "change" this.input}} 
            {{on "change" this.update}} 
            class="secondary" 
        />
        <Input 
            value={{ this.roundedValue2 }} 
            disabled={{@control.readOnly}}
            inputmode="decimal"
            {{on "change" (fn this.input "2") }} 
            {{ on "change" this.update }} 
            class="secondary" 
        />
        <Input 
            value={{ this.roundedValue3 }} 
            disabled={{@control.readOnly}}
            inputmode="decimal"
            {{on "change" (fn this.input "3") }} 
            {{ on "change" this.update }} 
            class="secondary" 
        />
    </div>

    <div class="main-input">
        {{#if @control.hasRange}}
            <RangeSlider 
                @name={{ @control.id }}
                @value={{ @control.value }}

                @min={{ @control.minVal }}
                @max={{ @control.maxVal }}
                
                @step={{ this.step }} 

                @fgColor={{ this.fgColorRgba }}
                @bgColor={{ this.bgColorRgba }}
                @textColor={{ this.args.control.textColorRgba }}
                
                @onInput={{ this.setValue }} 
                @onUpdate={{ this.update }} 

                @readOnly={{ @control.readOnly }}
            />
        {{else}}
            <Input 
                value={{ this.roundedValue }} 
                disabled={{@control.readOnly}}
                inputmode="decimal"
                class="secondary" 
                {{ on "change" this.input }} 
                {{ on "change" this.update }} 
                {{ style this.customizeStyles }}
            />
        {{/if}}

        {{#if @control.hasRange2}}
            <RangeSlider 
                @name={{ concat @control.id "2" }}
                @value={{ @control.value2 }}

                @min={{ @control.minVal2 }}
                @max={{ @control.maxVal2 }}
                
                @class="no-top-margin"
                
                @fgColor={{ this.fgColorRgba }}
                @bgColor={{ this.bgColorRgba }}
                @textColor={{ this.args.control.textColorRgba }}
                
                @onInput={{ this.setValue2 }} 
                @onUpdate={{ fn this.update "2" }} 

                @readOnly={{ @control.readOnly }}
            />

        {{else}}
            <Input 
                value={{ this.roundedValue2 }} 
                disabled={{@control.readOnly}}
                inputmode="decimal"
                class="secondary" 
                {{ on "change" (fn this.input "2") }} 
                {{ on "change" (fn this.update "2") }} 
                {{ style this.customizeStyles }}
            />
        {{/if}}

        {{#if @control.hasRange3}}
            <RangeSlider 
                @name={{ concat @control.id "3" }}
                @value={{ @control.value3 }}

                @min={{ @control.minVal3 }}
                @max={{ @control.maxVal3 }}
                
                @class="no-top-margin"
                
                @fgColor={{ this.fgColorRgba }}
                @bgColor={{ this.bgColorRgba }}
                @textColor={{ this.args.control.textColorRgba }}
                
                @onInput={{ this.setValue3 }} 
                @onUpdate={{ fn this.update "3" }}

                @readOnly={{ @control.readOnly }}
            />

        {{else}}
            <Input 
                value={{ this.roundedValue3 }} 
                disabled={{@control.readOnly}}
                inputmode="decimal"
                class="secondary" 
                {{ on "change" (fn this.input "3") }} 
                {{ on "change" (fn this.update "3") }}                     
                {{ style this.customizeStyles }}
            />
        {{/if}}
    </div>
    
    {{yield}}
</ControlContainer>