<div class="range-slider-container">
    <Input 
        type="range" 
        name={{@name}}
        
        value={{@value}} 
        step={{@step}} 

        min={{@min}} 
        max={{@max}} 
        
        style="--min: {{@min}}; --max: {{@max}}; --val: {{@value}}; --fgColor: {{ @fgColor }}; --bgColor: {{ @bgColor }}"
        
        {{on "input" this.input}} 
        {{on "input" this.update}} 
    />

    <label 
        for={{ @name }} 
        class="range-slider-label"
        style="mix-blend-mode: {{ @mixBlendMode }}; color: {{ @textColor }}"
    >
        {{#if @showLabel}}
            {{ @label }}: 
        {{/if}}
        {{ this.roundedValue }}
    </label>
    {{yield}}
</div>