<div class="range-slider-container unselectable {{ if @readOnly "disabled" ""}} {{ if @isVertical "vertical" ""}}"
    {{ style this.containerStyles }}
    {{on "click" this.hidePopover}} 
    {{on "mousedown" (fn this.updateEditing true)}}
    {{on "touchstart" (fn this.updateEditing true)}}
    {{on "mouseup" (fn this.updateEditing false)}}
    {{on "touchend" (fn this.updateEditing false)}}
    {{on "dblclick" this.showPopover}}
    {{did-insert this.registerListener}}
    {{will-destroy this.unregisterListener}}
>
    <div class="range-slider-background" {{ style this.activeStyles }} name={{ @name }}></div>
    
    <label 
        for={{ @name }} 
        class="range-slider-label unselectable"
        style="color: {{ @textColor }}"
    >
        {{#if @showLabel}}
            {{ @label }} :&nbsp;
        {{/if}}
        <span>
            {{ this.roundedValue }}
        </span>
    </label>

    {{yield}}
</div>

{{#if this.popoverVisible}}
    <div class="range-slider-popover arrow_box">
        <div class="arrow_box">
            <Input 
                inputmode="decimal"
                value={{ this.roundedValue2 }} 
                disabled={{this.args.readOnly}}
                {{ on "click" this.clickPopover }}
                {{ on "change" this.setValue }} 
                {{ autofocus }}
                {{!-- {{ on "change" this.update }}  --}}
            />
        </div>
    </div>
{{/if}}