<ControlContainer 
    @control={{@control}} 
    @showLabel={{ true }}
>
    <div class="clear"></div>
    <Input 
        value={{@control.value}} 
        disabled={{@control.readOnly}}
        {{on "change" this.input}} 
        {{on "change" this.update}} 
        class="string-input"
        {{ style this.customizeStyles }}
    />
    {{yield}}
</ControlContainer>