<ControlContainer 
    @control={{@control}} 
    @showLabel={{ false }}
>
    <div class="clear"></div>
    <button 
        {{on "touchstart" this.update}} 
        {{on "mousedown" this.update}} 
        disabled={{@control.readOnly}}
        class="unselectable {{ if @control.triggered "triggered" }}"
        {{ style this.customizeStyles }}
    >   
        {{#if @control.showLabel }}
            {{@control.label}}
        {{/if}}
    </button>

    {{yield}}
</ControlContainer>