<ControlContainer 
    @control={{@control}} 
    @displayLayout={{@displayLayout}}
    @showLabel={{ false }}
>
    <div class="clear"></div>
    <button {{on "mousedown" this.update}} class="{{ if @control.triggered "triggered" }}">{{@control.label}}</button>
    {{yield}}
</ControlContainer>