<div class="menu-wrapper {{ if this.settings.menuOpen "open" "" }}" {{ on "click" this.hideMenu}}>
    <div class="menu">
        <button class="menu-close" {{ on "click" this.hideMenu}}></button>
        <h1>Settings</h1>
        <ul class="settings unselectable">
            <li class="{{ if this.fullscreen.isEnabled "enabled" "" }}">    
                <a {{on "click" this.toggleFullscreen}}>Fullscreen</a>
            </li>
            <li class="{{ if this.settings.displayLayout "enabled" "" }}">    
                <a {{on "click" this.toggleDisplayLayout}}>Layout</a>
            </li>
            <li class="{{ if this.settings.scaleLayout "enabled" "" }}">    
                <a {{on "click" this.toggleScaleLayout}}>Scale Layout</a>
            </li>
        </ul>

        <ul class="settings-status">
            <li><span>Websocket</span> <span class="{{ if this.socket.isConnected "active" "error" }}" title="{{ this.socket.address }}">{{ if this.socket.isConnected "Connected" "Disconnected" }}</span></li>
            <li><span>App</span> {{ this.settings.appName}}</li>
            <li><span>Web Dashboard</span> {{app-version versionOnly=true}}</li>
        </ul>
    </div>
</div>

<div class="connection-warning {{ if this.socket.isConnected "hidden" "show"}} unselectable">
    <div class="slang">
        You're out, bro!
    </div>
    <div class="status">
        Websocket disconnected
    </div>
</div>

<div class="open-menu">
    <button {{ on "click" this.openMenu }}></button>
</div>


<div 
    class="wrapper-main {{ if this.settings.displayLayout "layout" "responsive" }} {{ if this.loaded "" "preload"}}" 
    {{did-resize this.onResize debounce=10}} 
    {{did-insert this.onResize}}
    {{did-insert this.removePreload}}
>
    <ul class="dashboard-list unselectable" {{ style this.scaleStyle}}>
        {{#each @model as |dashboard|}}
            <li>
                <LinkTo @route="dashboard" @model={{dashboard}}>{{dashboard.name}}</LinkTo>
            </li>
        {{/each}}
    </ul>

    {{outlet}}
</div>