<div class="wrapper-main {{ if this.settings.displayLayout "layout" "responsive" }}" {{did-resize this.onResize debounce=10}} {{did-insert this.onResize}}>
    <div class="menu">
        <img src="icon.png" class="logo">
    </div>

    <ul class="dashboard-list">
        {{#each @model as |dashboard|}}
            <li class="unselectable">
                <LinkTo @route="dashboard" @model={{dashboard}}>{{dashboard.name}}</LinkTo>
            </li>
        {{/each}}
    </ul>

    <ul class="layout-options">
        <li class="unselectable {{ if this.settings.displayLayout "enabled" "" }}">    
            <a {{on "click" this.toggleDisplayLayout}}>Layout</a>
        </li>
        <li class="unselectable {{ if this.fullscreen.isEnabled "enabled" "" }}">    
             <a {{on "click" this.toggleFullscreen}}>Fullscreen</a>
        </li>
    </ul>

    {{outlet}}
</div>
