<div class="menu">
    <a {{on "click" (fn this.reloadDashboards "0") }}><img src="chataigne-icon.png" class="logo"></a>
</div>

{{#if isConnected }}
    <ul class="dashboard-list">
        <li {{on "click" (fn this.selectDashboard)}}>Show All</li>
        {{#each @model as |dashboard|}}
            <li {{on "click" (fn this.selectDashboard dashboard)}}>{{dashboard.name}}</li>
        {{/each}}
        <li>    
            <span {{on "click" this.toggleDisplayLayout}}>Layout </span><Input @type="checkbox" @checked={{ displayLayout }} {{on "change" this.toggleDisplayLayout}} class="switch layout-toggle" />
        </li>
    </ul>

    {{#if selectedDashboard }}
        <Dashboard 
            @dashboard={{ selectedDashboard }} 
            @displayLayout={{ this.displayLayout }} 
        />
    {{else}}
        {{#each @model as |dashboard|}}
            <Dashboard 
                @dashboard={{ dashboard }} 
                @displayLayout={{ this.displayLayout }} 
            />
        {{/each}}
    {{/if}}

    {{outlet}}
{{else}}
    Connecting to Chataigne
{{/if}}