<div class="menu-wrapper {{ if this.settings.menuOpen "open" "" }} {{ if this.settings.hideMenu "hidden" ""}}" {{ on "click" this.hideMenu}}>
    <div class="menu">
        <button class="menu-close" {{ on "click" this.hideMenu}}><span class="icon-cross"></span> </button>
        <h1>Settings</h1>
        <ul class="settings unselectable">
            <li class="{{ if this.fullscreen.isEnabled "enabled" "" }}">    
                <a {{on "click" this.toggleFullscreen}}><span class="icon-enlarge"></span> Fullscreen</a>
            </li>
            <li class="{{ if this.settings.displayLayout "enabled" "" }}">    
                <a {{on "click" this.toggleDisplayLayout}}><span class="icon-newspaper"></span> Layout</a>
            </li>
            {{#if this.settings.displayLayout }}
                <li class="{{ if this.settings.scaleLayout "enabled" "" }}">    
                    <a {{on "click" this.toggleScaleLayout}}><span class="icon-search"></span> Scale Layout</a>
                </li>
            {{/if}}
            <li class="{{ if this.settings.hideList "enabled" "" }}">    
                <a {{on "click" this.toggleHideList}}><span class="icon-list"></span> Hide Dashboard List</a>
            </li>
            <li class="{{ if this.settings.hideMenu "enabled" "" }}">    
                <a {{on "click" this.toggleHideMenu}}><span class="icon-menu"></span> Hide Menu</a>
            </li>
        </ul>

        <ul class="settings-status">
            <li><span>Websocket</span> <span class="{{ if this.socket.isConnected "active" "error" }}" title="{{ this.socket.address }}">{{ if this.socket.isConnected "Connected" "Disconnected" }}</span></li>
            <li><span>App</span> {{ this.settings.appName}}</li>
            <li><span>Web Dashboard</span> {{app-version versionOnly=true}}</li>
        </ul>
    </div>
</div>

<div class="connection-warning {{ if this.socket.isConnected "hidden" "show"}} unselectable">
    <div class="slang">
        You're out, bro!
    </div>
    <div class="status">
        Websocket disconnected
    </div>
</div>

<div class="open-menu {{ if this.settings.hideMenu "hidden" ""}}">
    <button {{ on "click" this.openMenu }}><span class="icon-menu"></span></button>
</div>


<div 
    class="wrapper-main {{ if this.settings.displayLayout "layout" "responsive" }} {{ if this.loaded "" "preload"}}" 
    {{did-resize this.onResize debounce=10}} 
    {{did-insert this.onResize}}
    {{did-insert this.removePreload}}
>
    <ul class="dashboard-list unselectable {{ if this.settings.hideList "hidden" ""}}" {{ style this.scaleStyle}}>
        {{#each @model as |dashboard|}}
            <li>
                <LinkTo @route="dashboard" @model={{dashboard}}>{{dashboard.name}}</LinkTo>
            </li>
        {{/each}}
    </ul>

    {{outlet}}
</div>